In [1]:
# imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# pull in data
file_link = 'C:/Users/Michael/projects/bball/nba_rosters_15/b_r_nba_heights_scrape.csv'
data = pd.read_csv(file_link)

In [3]:
# drop first column and sample data
data = data.iloc[:,1:]
data.head()

,Team,No,Player,Pos,Ht,Wt,Birth_Date,Exp,College,ht_in,...,FT_PCT,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,LAL,28,Tarik Black,C,6-9,257,"November 22, 1991",R,University of Kansas,81,...,0.562,84,157,241,34,13,22,29,102,274
1,LAL,12,Vander Blue,SG,6-4,200,"July 17, 1992",1,Marquette University,76,...,0.400,2,7,9,8,3,0,6,4,22
2,LAL,5,Carlos Boozer,PF,6-9,258,"November 20, 1981",12,Duke University,81,...,0.627,111,371,482,95,41,12,92,184,836
3,LAL,15,Jabari Brown,SG,6-6,214,"December 18, 1992",R,University of Missouri,78,...,0.753,3,33,36,40,12,2,32,33,227
4,LAL,24,Kobe Bryant,SG,6-6,200,"August 23, 1978",18,NaN,78,...,0.813,26,173,199,197,47,7,128,65,782

In [6]:
# list out column names
list(data.columns)

['Team',
 'No',
 'Player',
 'Pos',
 'Ht',
 'Wt',
 'Birth_Date',
 'Exp',
 'College',
 'ht_in',
 'Age',
 'G',
 'GS',
 'MP',
 'FG',
 'FGA',
 'FG_PCT',
 'FG3',
 'FG3A',
 'FG3_PCT',
 'FG2',
 'FG2A',
 'FG2_PCT',
 'EFG_PCT',
 'FT',
 'FTA',
 'FT_PCT',
 'ORB',
 'DRB',
 'TRB',
 'AST',
 'STL',
 'BLK',
 'TOV',
 'PF',
 'PTS']

In [7]:
# which player is the tallest?
data[data.ht_in == data.ht_in.max()]

,Team,No,Player,Pos,Ht,Wt,Birth_Date,Exp,College,ht_in,...,FT_PCT,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
307,SAC,32,Sim Bhullar,C,7-5,360,"December 2, 1992",R,New Mexico State University,89,...,NaN,0,1,1,1,0,1,0,0,2

In [50]:
# which player is the shortest?
data[data.ht_in == data.ht_in.min()]

,Team,No,Player,Pos,Ht,Wt,Birth_Date,Exp,College,ht_in,...,FT_PCT,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
104,BOS,4,Isaiah Thomas,PG,5-9,185,"February 7, 1989",3,University of Washington,69,...,0.861,7,37,44,113,12,0,54,45,400
259,LAC,8,Nate Robinson,PG,5-9,180,"May 31, 1984",9,University of Washington,69,...,0.833,3,8,11,20,6,0,8,8,46
457,PHO,3,Isaiah Thomas,PG,5-9,185,"February 7, 1989",3,University of Washington,69,...,0.872,26,83,109,171,45,5,89,105,701
482,DEN,5,Nate Robinson,PG,5-9,180,"May 31, 1984",9,University of Washington,69,...,0.650,14,25,39,77,14,3,22,68,192

In [15]:
# which team was the tallest by roster?
team_data = data.groupby('Team').ht_in.mean()
team_data.sort('ht_in',ascending=False)
team_data.head()

Team
GSW    79.800000
TOR    79.666667
MIN    79.520000
BRK    79.473684
IND    79.375000
Name: ht_in, dtype: float64

In [16]:
# which teams are the shortest by roster?
team_data.sort('ht_in',ascending=True)
team_data.head()

Team
CHO    77.823529
PHO    77.913043
LAC    78.000000
DEN    78.150000
NOP    78.190476
Name: ht_in, dtype: float64

In [37]:
# which team was tallest adjusted for playing time?
MP_team = data.groupby('Team').MP.sum() 
MP_team = MP_team.reset_index()
MP_team = MP_team.rename(columns={'MP':'MP_Team'})
MP_team.head()

MP_df = pd.merge(data,MP_team,on ='Team',how='left')
MP_df['Weighted_ht'] = MP_df['ht_in'] * MP_df['MP'] / MP_df['MP_Team']
team_MP_data = MP_df.groupby('Team').Weighted_ht.sum()
team_MP_data.sort('Weighted_ht',ascending=False)
team_MP_data.head(15)

Team
ATL    19732
BOS    19880
BRK    19928
CHI    19881
CHO    19905
CLE    19779
DAL    19881
DEN    19881
DET    19827
GSW    19730
HOU    19804
IND    19855
LAC    19730
LAL    19932
MEM    19904
MIA    19732
MIL    19929
MIN    19806
NOP    19782
NYK    19855
OKC    19832
ORL    19755
PHI    19802
PHO    19879
POR    19856
SAC    19855
SAS    19955
TOR    19855
UTA    19705
WAS    19956
Name: MP_Team, dtype: int64

In [49]:
# which team was the shortest adjusted for playing time?
team_MP_data.sort('Weighted_ht',ascending=True)
team_MP_data.head(15)

Team
DEN    78.129219
CHO    78.144185
PHO    78.259772
MIA    78.450588
BOS    78.515191
ATL    78.523616
LAC    78.558996
DET    78.651838
NYK    78.694485
TOR    78.738454
SAS    78.791230
HOU    78.895375
OKC    78.928247
DAL    78.939892
SAC    78.956787
Name: Weighted_ht, dtype: float64

In [70]:
# which team plays the tallest at the 4 & 5?
#MP_df_bm1 = MP_df[MP_df.Pos == 'PF']
#MP_df_bm2 = MP_df[MP_df.Pos == 'C']
#MP_df_bm = pd.concat((MP_df_bm1,MP_df_bm2),axis=0)
#MP_df_bm.head()

#MP_df_bm = MP_df_bm.groupby('Team').Weighted_ht.sum()
#MP_df_bm.sort('Weighted_ht',ascending=False)
#MP_df_bm.head(30)

# THIS DID NOT WORK
# some teams will play a SF at the four thus making the output meaningless

Team
NOP    37.380042
TOR    37.016721
LAL    35.384708
PHO    35.227074
CHI    34.386148
NYK    33.610728
SAC    32.735029
IND    32.448351
DET    32.437636
ATL    32.398692
CHO    32.372268
WAS    31.978653
SAS    31.608519
LAC    31.322250
UTA    31.130322
POR    31.113014
MEM    31.028236
ORL    30.908783
BRK    30.826224
OKC    30.661658
BOS    30.134759
PHI    30.006312
MIN    29.196860
DAL    28.967356
CLE    28.633146
HOU    28.574177
DEN    28.550727
GSW    28.430258
MIL    22.817051
MIA    22.605311
Name: Weighted_ht, dtype: float64

In [72]:
# which player weighs the most?
data[data.Wt == data.Wt.max()]

,Team,No,Player,Pos,Ht,Wt,Birth_Date,Exp,College,ht_in,...,FT_PCT,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
307,SAC,32,Sim Bhullar,C,7-5,360,"December 2, 1992",R,New Mexico State University,89,...,NaN,0,1,1,1,0,1,0,0,2

In [73]:
# which player weighs the least?
data[data.Wt == data.Wt.min()]

,Team,No,Player,Pos,Ht,Wt,Birth_Date,Exp,College,ht_in,...,FT_PCT,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
309,SAC,7,Darren Collison,PG,6-0,160,"August 23, 1987",5,"University of California, Los Angeles",72,...,0.788,19,124,143,252,67,14,112,95,725

In [76]:
# which team was the heaviest by roster?
weight_data = data.groupby('Team').Wt.mean()
weight_data.sort('Wt',ascending=False)
weight_data.head()

Team
CLE    226.250000
SAC    224.315789
ATL    222.625000
MIN    221.400000
MEM    220.789474
Name: Wt, dtype: float64

In [78]:
# which team was the lightest by roster?
weight_data.sort('Wt',ascending=True)
weight_data.head()

Team
NOP    210.285714
PHO    211.217391
UTA    211.727273
PHI    212.000000
CHI    212.285714
Name: Wt, dtype: float64

In [79]:
# which team was the heaviest adjusted for minutes played?
MP_df['Weighted_wt'] = MP_df['Wt'] * MP_df['MP'] / MP_df['MP_Team']
team_MP_data = MP_df.groupby('Team').Weighted_wt.sum()
team_MP_data.sort('Weighted_wt',ascending=False)
team_MP_data.head(30)

Team
CLE    226.571566
MEM    225.366459
BRK    224.027599
DET    222.235739
BOS    221.493461
WAS    221.323311
NOP    221.279092
SAC    221.251775
IND    221.158247
OKC    221.066257
ORL    220.859074
CHO    220.631600
LAC    219.889407
DEN    219.040793
POR    218.452659
ATL    218.386580
LAL    218.266155
NYK    217.258675
PHO    217.182806
MIL    215.862412
UTA    215.576808
SAS    215.440842
PHI    213.711494
MIN    213.419014
TOR    213.239990
MIA    212.251470
GSW    211.842575
HOU    211.613462
CHI    210.302148
DAL    206.623862
Name: Weighted_wt, dtype: float64

In [80]:
# average height by position in the NBA
MP_df.groupby('Pos').ht_in.mean()

Pos
C     83.204545
PF    81.323077
PG    74.000000
SF    79.896226
SG    77.155039
Name: ht_in, dtype: float64

In [81]:
# average weight by position in the NBA
MP_df.groupby('Pos').Wt.mean()

Pos
C     249.590909
PF    237.515385
PG    185.959016
SF    217.311321
SG    202.922481
Name: Wt, dtype: float64

In [65]:
# goal is to show % position played by each team

MP_df_pos = MP_df.groupby(['Team','MP_Team','Pos']).MP.sum()
MP_df_pos.head()
MP_df_pos = MP_df_pos.reset_index()

MP_df_pos['MP_C'] = MP_df_pos.MP[MP_df_pos.Pos == 'C']
MP_df_pos['MP_PF'] = MP_df_pos.MP[MP_df_pos.Pos == 'PF']
MP_df_pos['MP_SF'] = MP_df_pos.MP[MP_df_pos.Pos == 'SF']
MP_df_pos['MP_SG'] = MP_df_pos.MP[MP_df_pos.Pos == 'SG']
MP_df_pos['MP_PG'] = MP_df_pos.MP[MP_df_pos.Pos == 'PG']
MP_df_pos.head()
MP_df_pos = MP_df_pos.groupby(['Team','MP_Team']).sum()

MP_df_pos['MP_BM'] = (MP_df_pos.MP_C + MP_df_pos.MP_PF) / MP_df_pos.MP
MP_df_pos['MP_C'] = MP_df_pos.MP_C / MP_df_pos.MP
MP_df_pos['MP_PF'] = MP_df_pos.MP_PF / MP_df_pos.MP
MP_df_pos['MP_SF'] = MP_df_pos.MP_SF / MP_df_pos.MP
MP_df_pos['MP_SG'] = MP_df_pos.MP_SG / MP_df_pos.MP
MP_df_pos['MP_PG'] = MP_df_pos.MP_PG / MP_df_pos.MP
MP_df_pos.head(0)

MP_df_pos.sort('MP_BM',ascending=False).head(0)

,,MP,MP_C,MP_PF,MP_SF,MP_SG,MP_PG,MP_BM
Team,MP_Team,,,,,,,
NOP,19782,19782,0.161662,0.292286,0.257102,0.144930,0.144020,0.453948
TOR,19855,19855,0.122891,0.330546,0.117401,0.207303,0.221858,0.453437
LAL,19932,19932,0.191150,0.239765,0.116948,0.226972,0.225166,0.430915
PHO,19879,19879,0.134111,0.294633,0.154535,0.209115,0.207606,0.428744
CHI,19881,19881,0.109502,0.306373,0.179619,0.232735,0.171772,0.415874
NYK,19855,19855,0.205993,0.203979,0.138353,0.180358,0.271317,0.409972
SAC,19855,19855,0.123747,0.275951,0.192596,0.191236,0.216469,0.399698
ATL,19732,19732,0.117474,0.281624,0.164251,0.204693,0.231958,0.399098
CHO,19905,19905,0.237227,0.159357,0.101331,0.283396,0.218689,0.396584
DET,19827,19827,0.146669,0.249861,0.194634,0.204216,0.204620,0.396530
IND,19855,19855,0.154722,0.238328,0.218937,0.092722,0.295291,0.393050
WAS,19956,19956,0.184807,0.204550,0.260724,0.148777,0.201143,0.389357
SAS,19955,19955,0.107843,0.278326,0.138512,0.264946,0.210373,0.386169
LAC,19730,19730,0.142930,0.236290,0.176584,0.226102,0.218094,0.379219
UTA,19705,19705,0.176808,0.200964,0.247501,0.158285,0.216443,0.377772
BRK,19928,19928,0.212063,0.162736,0.094841,0.294611,0.235749,0.374799
MEM,19904,19904,0.202723,0.170820,0.099930,0.337570,0.188957,0.373543
POR,19856,19856,0.226632,0.146203,0.161110,0.238316,0.227740,0.372834
ORL,19755,19755,0.170792,0.201620,0.154037,0.182739,0.290812,0.372412
OKC,19832,19832,0.179558,0.192366,0.123538,0.259530,0.245008,0.371924
PHI,19802,19802,0.190435,0.177103,0.242602,0.236996,0.152863,0.367539
BOS,19880,19880,0.158652,0.208350,0.158501,0.284708,0.189789,0.367002
MIN,19806,19806,0.178784,0.178330,0.136726,0.289458,0.216702,0.357114
GSW,19730,19730,0.109427,0.240142,0.117486,0.326102,0.206842,0.349569
DEN,19881,19881,0.194859,0.154620,0.221719,0.215432,0.213370,0.349479
CLE,19779,19779,0.105364,0.242934,0.250973,0.254816,0.145912,0.348299
HOU,19804,19804,0.086144,0.261765,0.269239,0.256716,0.126136,0.347910
DAL,19881,19881,0.122931,0.223077,0.254565,0.136311,0.263116,0.346009
MIL,19929,19929,0.187315,0.089869,0.162778,0.298811,0.261227,0.277184
MIA,19732,19732,0.208747,0.065427,0.311271,0.139215,0.275340,0.274174

In [74]:
MP_df[MP_df.Team == 'HOU'][['Team','Player','Pos','MP']].sort('MP', ascending = False)

   Team               Player Pos    MP
58  HOU         James Harden  SG  2981
49  HOU         Trevor Ariza  SF  2930
63  HOU   Donatas Motiejunas  PF  2037
50  HOU     Patrick Beverley  PG  1727
68  HOU          Jason Terry  SG  1641
52  HOU         Corey Brewer  SF  1407
67  HOU           Josh Smith  PF  1404
59  HOU        Dwight Howard   C  1223
61  HOU       Terrence Jones  PF   889
56  HOU          Joey Dorsey  PF   854
64  HOU  Kostas Papanikolaou  SF   795
65  HOU       Pablo Prigioni  PG   402
51  HOU          Tarik Black   C   393
53  HOU        Isaiah Canaan  PG   369
60  HOU         Nick Johnson  SG   262
57  HOU     Francisco Garcia  SF   200
55  HOU         Troy Daniels  SG   108
54  HOU         Clint Capela   C    90
66  HOU         Alexey Shved  SG    59
62  HOU       K.J. McDaniels  SG    33

In [78]:
# which player played the most minutes played?
MP_df[['Team','Player','Pos','MP']].sort('MP',ascending = False).head(20)

    Team                    Player Pos    MP
58   HOU              James Harden  SG  2981
304  MIN            Andrew Wiggins  SG  2969
49   HOU              Trevor Ariza  SF  2930
159  POR            Damian Lillard  PG  2925
256  LAC                Chris Paul  PG  2857
241  WAS                 John Wall  PG  2837
255  LAC            DeAndre Jordan   C  2820
441  PHO              Eric Bledsoe  PG  2800
529  BRK               Joe Johnson  SG  2791
544  CLE              Kyrie Irving  PG  2730
267  DAL               Monta Ellis  SG  2699
491  NOP              Tyreke Evans  SF  2690
389  MEM                Marc Gasol   C  2687
22   CHI                 Pau Gasol  PF  2681
316  SAC              Ben McLemore  SG  2670
477  DEN                 Ty Lawson  PG  2665
430  UTA            Gordon Hayward  SF  2618
168  GSW             Stephen Curry  PG  2613
72   DET  Kentavious Caldwell-Pope  SG  2587
453  PHO           Markieff Morris  PF  2581